.stroke-effect-generateur{
  color: RGB(44, 10, 103);
  
  transition: opacity 400ms ease, color 1000ms;
  transition-delay: 0s, 100ms;
  transition-property: opacity, color;
 
  opacity: 1;

  &:hover {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: RGB(44, 10, 103);
    transition: opacity 400ms ease, color 1000ms;
    transition-delay: 0s, 200ms;
    transition-property: opacity, color;
    opacity: 0.5;
    color: rgba(250, 141, 13, 0);
  }
}

.inputCss input{
  width: 100%; 
  padding: 10px; 
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.PhoneInputCountry{
  padding: 5px; 
  margin-bottom: 0px; 
  border: 1px solid #ccc;
  border-radius: 5px; 
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
}